.moveable-control.moveable-origin {
    display: none !important;
}

.rCS1w3zcxh .moveable-line {
    background: #000 !important;
}

.moveable-control.moveable-direction.moveable-s.moveable-scalable {
    display: none !important;
}

.moveable-control.moveable-direction.moveable-sw.moveable-scalable {
    display: none !important;
}

.moveable-control.moveable-direction.moveable-w.moveable-scalable {
    display: none !important;
}

.moveable-control.moveable-direction.moveable-ne.moveable-scalable {
    display: none !important;
}

.moveable-control.moveable-direction.moveable-e.moveable-scalable {
    display: none !important;
}

.moveable-control.moveable-direction.moveable-n.moveable-scalable {
    display: none !important;
}

.moveable-line.moveable-rotation-line {
    display: none !important;
}

.moveable-control.moveable-direction.moveable-nw.moveable-scalable {
    display: none !important;
}

.moveable-control.moveable-rotation-control {
    top: 40px !important;
}

.moveable-control.moveable-rotation-control::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 14px;
    height: 14px;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2216%22%20width%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M105.1%20202.6c7.7-21.8%2020.2-42.3%2037.8-59.8c62.5-62.5%20163.8-62.5%20226.3%200L386.3%20160H352c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032H463.5c0%200%200%200%200%200h.4c17.7%200%2032-14.3%2032-32V80c0-17.7-14.3-32-32-32s-32%2014.3-32%2032v35.2L414.4%2097.6c-87.5-87.5-229.3-87.5-316.8%200C73.2%20122%2055.6%20150.7%2044.8%20181.4c-5.9%2016.7%202.9%2034.9%2019.5%2040.8s34.9-2.9%2040.8-19.5zM39%20289.3c-5%201.5-9.8%204.2-13.7%208.2c-4%204-6.7%208.8-8.1%2014c-.3%201.2-.6%202.5-.8%203.8c-.3%201.7-.4%203.4-.4%205.1V432c0%2017.7%2014.3%2032%2032%2032s32-14.3%2032-32V396.9l17.6%2017.5%200%200c87.5%2087.4%20229.3%2087.4%20316.7%200c24.4-24.4%2042.1-53.1%2052.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9%202.9-40.8%2019.5c-7.7%2021.8-20.2%2042.3-37.8%2059.8c-62.5%2062.5-163.8%2062.5-226.3%200l-.1-.1L125.6%20352H160c17.7%200%2032-14.3%2032-32s-14.3-32-32-32H48.4c-1.6%200-3.2%20.1-4.8%20.3s-3.1%20.5-4.6%201z%22%2F%3E%0A%3C%2Fsvg%3E")
        center/contain no-repeat;
}
