.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.scrollContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}

.active {
    background-color: #333;
}
