/* Add this to your CSS */
.slick-dots-custom li button:before {
    color: #fff;
    width: 10px;
    height: 10px;
    font-size: 10px;
}

.slick-dots li.slick-active button:before {
    color: rgb(82, 87, 170);
}

.slick-dots,
button.slick-arrow.slick-next {
    display: none !important;
}
