@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    /* @apply bg-gradient-to-b from-red-100 to-orange-100; */
    font-family: "Calibri", sans-serif !important;
    color: #131126;
    font-weight: 400;
}
