@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    /* @apply bg-gradient-to-b from-red-100 to-orange-100; */
    font-family: "Calibri", sans-serif !important;
    color: #131126;
    font-weight: 400;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
